<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Identifier</key>
		<string>ara</string>
		<key>Name</key>
		<string>Arabic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>eng</string>
		<key>Name</key>
		<string>English</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>jpn</string>
		<key>Name</key>
		<string>Japanese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>fra</string>
		<key>Name</key>
		<string>French</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>deu</string>
		<key>Name</key>
		<string>German</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>spa</string>
		<key>Name</key>
		<string>Spanish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ita</string>
		<key>Name</key>
		<string>Italian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>vie</string>
		<key>Name</key>
		<string>Vietnamese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>rus</string>
		<key>Name</key>
		<string>Russian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cmn</string>
		<key>Name</key>
		<string>Chinese (Mandarin)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kor</string>
		<key>Name</key>
		<string>Korean</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nld</string>
		<key>Name</key>
		<string>Dutch</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>heb</string>
		<key>Name</key>
		<string>Hebrew</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ind</string>
		<key>Name</key>
		<string>Indonesian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>por</string>
		<key>Name</key>
		<string>Portuguese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>fin</string>
		<key>Name</key>
		<string>Finnish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bul</string>
		<key>Name</key>
		<string>Bulgarian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ukr</string>
		<key>Name</key>
		<string>Ukrainian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ces</string>
		<key>Name</key>
		<string>Czech</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>epo</string>
		<key>Name</key>
		<string>Esperanto</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ell</string>
		<key>Name</key>
		<string>Greek</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tur</string>
		<key>Name</key>
		<string>Turkish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>swe</string>
		<key>Name</key>
		<string>Swedish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nob</string>
		<key>Name</key>
		<string>Norwegian (Bokmål)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>zsm</string>
		<key>Name</key>
		<string>Malay</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>est</string>
		<key>Name</key>
		<string>Estonian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kat</string>
		<key>Name</key>
		<string>Georgian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pol</string>
		<key>Name</key>
		<string>Polish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>swh</string>
		<key>Name</key>
		<string>Swahili</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lat</string>
		<key>Name</key>
		<string>Latin</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>wuu</string>
		<key>Name</key>
		<string>Shanghainese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>arz</string>
		<key>Name</key>
		<string>Egyptian Arabic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bel</string>
		<key>Name</key>
		<string>Belarusian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hun</string>
		<key>Name</key>
		<string>Hungarian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>isl</string>
		<key>Name</key>
		<string>Icelandic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sqi</string>
		<key>Name</key>
		<string>Albanian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>yue</string>
		<key>Name</key>
		<string>Cantonese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>afr</string>
		<key>Name</key>
		<string>Afrikaans</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>fao</string>
		<key>Name</key>
		<string>Faroese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>fry</string>
		<key>Name</key>
		<string>Frisian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bre</string>
		<key>Name</key>
		<string>Breton</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ron</string>
		<key>Name</key>
		<string>Romanian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>uig</string>
		<key>Name</key>
		<string>Uyghur</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>uzb</string>
		<key>Name</key>
		<string>Uzbek</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nno</string>
		<key>Name</key>
		<string>Norwegian (Nynorsk)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>srp</string>
		<key>Name</key>
		<string>Serbian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tat</string>
		<key>Name</key>
		<string>Tatar</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>yid</string>
		<key>Name</key>
		<string>Yiddish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pes</string>
		<key>Name</key>
		<string>Persian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nan</string>
		<key>Name</key>
		<string>Min Nan Chinese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>eus</string>
		<key>Name</key>
		<string>Basque</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>slk</string>
		<key>Name</key>
		<string>Slovak</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>dan</string>
		<key>Name</key>
		<string>Danish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hye</string>
		<key>Name</key>
		<string>Armenian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>acm</string>
		<key>Name</key>
		<string>Iraqi Arabic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>san</string>
		<key>Name</key>
		<string>Sanskrit</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>urd</string>
		<key>Name</key>
		<string>Urdu</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hin</string>
		<key>Name</key>
		<string>Hindi</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ben</string>
		<key>Name</key>
		<string>Bengali</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cycl</string>
		<key>Name</key>
		<string>CycL</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cat</string>
		<key>Name</key>
		<string>Catalan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kaz</string>
		<key>Name</key>
		<string>Kazakh</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lvs</string>
		<key>Name</key>
		<string>Latvian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bos</string>
		<key>Name</key>
		<string>Bosnian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hrv</string>
		<key>Name</key>
		<string>Croatian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>orv</string>
		<key>Name</key>
		<string>Old East Slavic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cha</string>
		<key>Name</key>
		<string>Chamorro</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tgl</string>
		<key>Name</key>
		<string>Tagalog</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>que</string>
		<key>Name</key>
		<string>Quechua</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mon</string>
		<key>Name</key>
		<string>Mongolian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lit</string>
		<key>Name</key>
		<string>Lithuanian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>glg</string>
		<key>Name</key>
		<string>Galician</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>gle</string>
		<key>Name</key>
		<string>Irish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ina</string>
		<key>Name</key>
		<string>Interlingua</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>jbo</string>
		<key>Name</key>
		<string>Lojban</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>toki</string>
		<key>Name</key>
		<string>Toki Pona</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ain</string>
		<key>Name</key>
		<string>Ainu</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>scn</string>
		<key>Name</key>
		<string>Sicilian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mal</string>
		<key>Name</key>
		<string>Malayalam</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nds</string>
		<key>Name</key>
		<string>Low Saxon</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tlh</string>
		<key>Name</key>
		<string>Klingon</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>slv</string>
		<key>Name</key>
		<string>Slovenian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tha</string>
		<key>Name</key>
		<string>Thai</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lzh</string>
		<key>Name</key>
		<string>Literary Chinese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>oss</string>
		<key>Name</key>
		<string>Ossetian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>roh</string>
		<key>Name</key>
		<string>Romansh</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>vol</string>
		<key>Name</key>
		<string>Volapük</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>gla</string>
		<key>Name</key>
		<string>Scottish Gaelic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ido</string>
		<key>Name</key>
		<string>Ido</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ast</string>
		<key>Name</key>
		<string>Asturian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ile</string>
		<key>Name</key>
		<string>Interlingue</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>oci</string>
		<key>Name</key>
		<string>Occitan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>xal</string>
		<key>Name</key>
		<string>Kalmyk</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ang</string>
		<key>Name</key>
		<string>Old English</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kur</string>
		<key>Name</key>
		<string>Kurdish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>dsb</string>
		<key>Name</key>
		<string>Lower Sorbian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hsb</string>
		<key>Name</key>
		<string>Upper Sorbian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ksh</string>
		<key>Name</key>
		<string>Kölsch</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cym</string>
		<key>Name</key>
		<string>Welsh</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ewe</string>
		<key>Name</key>
		<string>Ewe</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sjn</string>
		<key>Name</key>
		<string>Sindarin</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tel</string>
		<key>Name</key>
		<string>Telugu</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tpi</string>
		<key>Name</key>
		<string>Tok Pisin</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>qya</string>
		<key>Name</key>
		<string>Quenya</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nov</string>
		<key>Name</key>
		<string>Novial</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mri</string>
		<key>Name</key>
		<string>Maori</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lld</string>
		<key>Name</key>
		<string>Ladin</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ber</string>
		<key>Name</key>
		<string>Berber</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>xho</string>
		<key>Name</key>
		<string>Xhosa</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pnb</string>
		<key>Name</key>
		<string>Punjabi (Western)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mlg</string>
		<key>Name</key>
		<string>Malagasy</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>grn</string>
		<key>Name</key>
		<string>Guarani</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lad</string>
		<key>Name</key>
		<string>Ladino</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pms</string>
		<key>Name</key>
		<string>Piedmontese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>avk</string>
		<key>Name</key>
		<string>Kotava</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mar</string>
		<key>Name</key>
		<string>Marathi</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tpw</string>
		<key>Name</key>
		<string>Old Tupi</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tgk</string>
		<key>Name</key>
		<string>Tajik</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>prk</string>
		<key>Name</key>
		<string>Old Prussian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>npi</string>
		<key>Name</key>
		<string>Nepali</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mlt</string>
		<key>Name</key>
		<string>Maltese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ckt</string>
		<key>Name</key>
		<string>Chukchi</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cor</string>
		<key>Name</key>
		<string>Cornish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>aze</string>
		<key>Name</key>
		<string>Azerbaijani</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>khm</string>
		<key>Name</key>
		<string>Khmer</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lao</string>
		<key>Name</key>
		<string>Lao</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bod</string>
		<key>Name</key>
		<string>Tibetan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hil</string>
		<key>Name</key>
		<string>Hiligaynon</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>arq</string>
		<key>Name</key>
		<string>Algerian Arabic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pcd</string>
		<key>Name</key>
		<string>Picard</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>grc</string>
		<key>Name</key>
		<string>Ancient Greek</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>amh</string>
		<key>Name</key>
		<string>Amharic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>awa</string>
		<key>Name</key>
		<string>Awadhi</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bho</string>
		<key>Name</key>
		<string>Bhojpuri</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cbk</string>
		<key>Name</key>
		<string>Chavacano</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>enm</string>
		<key>Name</key>
		<string>Middle English</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>frm</string>
		<key>Name</key>
		<string>Middle French</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hat</string>
		<key>Name</key>
		<string>Haitian Creole</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>jdt</string>
		<key>Name</key>
		<string>Juhuri (Judeo-Tat)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kal</string>
		<key>Name</key>
		<string>Greenlandic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mhr</string>
		<key>Name</key>
		<string>Meadow Mari</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nah</string>
		<key>Name</key>
		<string>Nahuatl</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pdc</string>
		<key>Name</key>
		<string>Pennsylvania German</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sin</string>
		<key>Name</key>
		<string>Sinhala</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tuk</string>
		<key>Name</key>
		<string>Turkmen</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>wln</string>
		<key>Name</key>
		<string>Walloon</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bak</string>
		<key>Name</key>
		<string>Bashkir</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hau</string>
		<key>Name</key>
		<string>Hausa</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ltz</string>
		<key>Name</key>
		<string>Luxembourgish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mgm</string>
		<key>Name</key>
		<string>Mambae</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>som</string>
		<key>Name</key>
		<string>Somali</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>zul</string>
		<key>Name</key>
		<string>Zulu</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>haw</string>
		<key>Name</key>
		<string>Hawaiian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kir</string>
		<key>Name</key>
		<string>Kyrgyz</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mkd</string>
		<key>Name</key>
		<string>Macedonian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mrj</string>
		<key>Name</key>
		<string>Hill Mari</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ppl</string>
		<key>Name</key>
		<string>Pipil</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>yor</string>
		<key>Name</key>
		<string>Yoruba</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kin</string>
		<key>Name</key>
		<string>Kinyarwanda</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>shs</string>
		<key>Name</key>
		<string>Shuswap</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>chv</string>
		<key>Name</key>
		<string>Chuvash</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lkt</string>
		<key>Name</key>
		<string>Lakota</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ota</string>
		<key>Name</key>
		<string>Ottoman Turkish</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sna</string>
		<key>Name</key>
		<string>Shona</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mnw</string>
		<key>Name</key>
		<string>Mon</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nog</string>
		<key>Name</key>
		<string>Nogai</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sah</string>
		<key>Name</key>
		<string>Yakut</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>abk</string>
		<key>Name</key>
		<string>Abkhaz</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tet</string>
		<key>Name</key>
		<string>Tetun</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tam</string>
		<key>Name</key>
		<string>Tamil</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>udm</string>
		<key>Name</key>
		<string>Udmurt</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kum</string>
		<key>Name</key>
		<string>Kumyk</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>crh</string>
		<key>Name</key>
		<string>Crimean Tatar</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nya</string>
		<key>Name</key>
		<string>Chinyanja</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>liv</string>
		<key>Name</key>
		<string>Livonian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nav</string>
		<key>Name</key>
		<string>Navajo</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>chr</string>
		<key>Name</key>
		<string>Cherokee</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>guj</string>
		<key>Name</key>
		<string>Gujarati</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pan</string>
		<key>Name</key>
		<string>Punjabi (Eastern)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kha</string>
		<key>Name</key>
		<string>Khasi</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>jav</string>
		<key>Name</key>
		<string>Javanese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>zza</string>
		<key>Name</key>
		<string>Zaza</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>egl</string>
		<key>Name</key>
		<string>Emilian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tir</string>
		<key>Name</key>
		<string>Tigrinya</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sme</string>
		<key>Name</key>
		<string>Northern Sami</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>max</string>
		<key>Name</key>
		<string>North Moluccan Malay</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pam</string>
		<key>Name</key>
		<string>Kapampangan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>dtp</string>
		<key>Name</key>
		<string>Central Dusun</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cho</string>
		<key>Name</key>
		<string>Choctaw</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kzj</string>
		<key>Name</key>
		<string>Coastal Kadazan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>smo</string>
		<key>Name</key>
		<string>Samoan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>fij</string>
		<key>Name</key>
		<string>Fijian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>wol</string>
		<key>Name</key>
		<string>Wolof</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>che</string>
		<key>Name</key>
		<string>Chechen</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sag</string>
		<key>Name</key>
		<string>Sango</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hif</string>
		<key>Name</key>
		<string>Fiji Hindi</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ton</string>
		<key>Name</key>
		<string>Tongan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ngt</string>
		<key>Name</key>
		<string>Ngeg</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kam</string>
		<key>Name</key>
		<string>Kamba</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>vec</string>
		<key>Name</key>
		<string>Venetian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mya</string>
		<key>Name</key>
		<string>Burmese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>gil</string>
		<key>Name</key>
		<string>Gilbertese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>myv</string>
		<key>Name</key>
		<string>Erzya</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>niu</string>
		<key>Name</key>
		<string>Niuean</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>vro</string>
		<key>Name</key>
		<string>Võro</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>glv</string>
		<key>Name</key>
		<string>Manx</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lin</string>
		<key>Name</key>
		<string>Lingala</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lfn</string>
		<key>Name</key>
		<string>Lingua Franca Nova</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pus</string>
		<key>Name</key>
		<string>Pashto</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kjh</string>
		<key>Name</key>
		<string>Khakas</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>dng</string>
		<key>Name</key>
		<string>Dungan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>fur</string>
		<key>Name</key>
		<string>Friulian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mah</string>
		<key>Name</key>
		<string>Marshallese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pfl</string>
		<key>Name</key>
		<string>Palatine German</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kan</string>
		<key>Name</key>
		<string>Kannada</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>crs</string>
		<key>Name</key>
		<string>Seychellois Creole</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>gsw</string>
		<key>Name</key>
		<string>Swiss German</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>osx</string>
		<key>Name</key>
		<string>Old Saxon</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sux</string>
		<key>Name</key>
		<string>Sumerian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sco</string>
		<key>Name</key>
		<string>Scots</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>moh</string>
		<key>Name</key>
		<string>Mohawk</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ceb</string>
		<key>Name</key>
		<string>Cebuano</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lmo</string>
		<key>Name</key>
		<string>Lombard</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tso</string>
		<key>Name</key>
		<string>Tsonga</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bua</string>
		<key>Name</key>
		<string>Buryat</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>aym</string>
		<key>Name</key>
		<string>Aymara</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ilo</string>
		<key>Name</key>
		<string>Ilocano</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kaa</string>
		<key>Name</key>
		<string>Karakalpak</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nlv</string>
		<key>Name</key>
		<string>Orizaba Nahuatl</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ngu</string>
		<key>Name</key>
		<string>Guerrero Nahuatl</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ady</string>
		<key>Name</key>
		<string>Adyghe</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>brx</string>
		<key>Name</key>
		<string>Bodo</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>gag</string>
		<key>Name</key>
		<string>Gagauz</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>rom</string>
		<key>Name</key>
		<string>Romani</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lzz</string>
		<key>Name</key>
		<string>Laz</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>fuc</string>
		<key>Name</key>
		<string>Pulaar</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>umb</string>
		<key>Name</key>
		<string>Umbundu</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tkl</string>
		<key>Name</key>
		<string>Tokelauan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sot</string>
		<key>Name</key>
		<string>Southern Sotho</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>alt</string>
		<key>Name</key>
		<string>Southern Altai</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>war</string>
		<key>Name</key>
		<string>Waray</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>snd</string>
		<key>Name</key>
		<string>Sindhi</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tsn</string>
		<key>Name</key>
		<string>Setswana</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>srd</string>
		<key>Name</key>
		<string>Sardinian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pau</string>
		<key>Name</key>
		<string>Palauan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>gbm</string>
		<key>Name</key>
		<string>Garhwali</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>oji</string>
		<key>Name</key>
		<string>Ojibwe</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lug</string>
		<key>Name</key>
		<string>Luganda</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hak</string>
		<key>Name</key>
		<string>Hakka Chinese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bam</string>
		<key>Name</key>
		<string>Bambara</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>arg</string>
		<key>Name</key>
		<string>Aragonese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>asm</string>
		<key>Name</key>
		<string>Assamese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>fuv</string>
		<key>Name</key>
		<string>Nigerian Fulfulde</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hoc</string>
		<key>Name</key>
		<string>Ho</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sun</string>
		<key>Name</key>
		<string>Sundanese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>apc</string>
		<key>Name</key>
		<string>North Levantine Arabic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tyv</string>
		<key>Name</key>
		<string>Tuvinian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>krc</string>
		<key>Name</key>
		<string>Karachay-Balkar</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pap</string>
		<key>Name</key>
		<string>Papiamento</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>non</string>
		<key>Name</key>
		<string>Old Norse</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ori</string>
		<key>Name</key>
		<string>Odia (Oriya)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>iba</string>
		<key>Name</key>
		<string>Iban</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>oar</string>
		<key>Name</key>
		<string>Old Aramaic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ary</string>
		<key>Name</key>
		<string>Moroccan Arabic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cyo</string>
		<key>Name</key>
		<string>Cuyonon</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ibo</string>
		<key>Name</key>
		<string>Igbo</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>csb</string>
		<key>Name</key>
		<string>Kashubian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>lou</string>
		<key>Name</key>
		<string>Louisiana Creole</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>urh</string>
		<key>Name</key>
		<string>Urhobo</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mvv</string>
		<key>Name</key>
		<string>Tagal Murut</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mdf</string>
		<key>Name</key>
		<string>Moksha</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>pag</string>
		<key>Name</key>
		<string>Pangasinan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cos</string>
		<key>Name</key>
		<string>Corsican</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hnj</string>
		<key>Name</key>
		<string>Hmong Njua (Green)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>rif</string>
		<key>Name</key>
		<string>Tarifit</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nch</string>
		<key>Name</key>
		<string>Central Huasteca Nahuatl</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kek</string>
		<key>Name</key>
		<string>Kekche (Q&apos;eqchi&apos;)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ssw</string>
		<key>Name</key>
		<string>Swazi</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ban</string>
		<key>Name</key>
		<string>Balinese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>aii</string>
		<key>Name</key>
		<string>Assyrian Neo-Aramaic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tvl</string>
		<key>Name</key>
		<string>Tuvaluan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kxi</string>
		<key>Name</key>
		<string>Keningau Murut</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bvy</string>
		<key>Name</key>
		<string>Baybayanon</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mfe</string>
		<key>Name</key>
		<string>Morisyen</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mww</string>
		<key>Name</key>
		<string>Hmong Daw (White)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bcl</string>
		<key>Name</key>
		<string>Bikol (Central)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nau</string>
		<key>Name</key>
		<string>Nauruan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>zlm</string>
		<key>Name</key>
		<string>Malay (Vernacular)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>nst</string>
		<key>Name</key>
		<string>Naga (Tangshang)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>quc</string>
		<key>Name</key>
		<string>K&apos;iche&apos;</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>afb</string>
		<key>Name</key>
		<string>Arabic (Gulf)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>min</string>
		<key>Name</key>
		<string>Minangkabau</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tmw</string>
		<key>Name</key>
		<string>Temuan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cjy</string>
		<key>Name</key>
		<string>Chinese (Jin)</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mai</string>
		<key>Name</key>
		<string>Maithili</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mad</string>
		<key>Name</key>
		<string>Madurese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bjn</string>
		<key>Name</key>
		<string>Banjar</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>got</string>
		<key>Name</key>
		<string>Gothic</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>hsn</string>
		<key>Name</key>
		<string>Xiang Chinese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>gan</string>
		<key>Name</key>
		<string>Gan Chinese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>bar</string>
		<key>Name</key>
		<string>Bavarian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tzl</string>
		<key>Name</key>
		<string>Talossan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sgs</string>
		<key>Name</key>
		<string>Samogitian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ldn</string>
		<key>Name</key>
		<string>Láadan</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>dws</string>
		<key>Name</key>
		<string>Dutton World Speedwords</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>afh</string>
		<key>Name</key>
		<string>Afrihili</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>krl</string>
		<key>Name</key>
		<string>Karelian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>vep</string>
		<key>Name</key>
		<string>Veps</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>rue</string>
		<key>Name</key>
		<string>Rusyn</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tah</string>
		<key>Name</key>
		<string>Tahitian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>tly</string>
		<key>Name</key>
		<string>Talysh</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mic</string>
		<key>Name</key>
		<string>Mi&apos;kmaq</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ext</string>
		<key>Name</key>
		<string>Extremaduran</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>swg</string>
		<key>Name</key>
		<string>Swabian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>izh</string>
		<key>Name</key>
		<string>Ingrian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>sma</string>
		<key>Name</key>
		<string>Southern Sami</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>jam</string>
		<key>Name</key>
		<string>Jamaican Patois</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>mwl</string>
		<key>Name</key>
		<string>Mirandese</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>kpv</string>
		<key>Name</key>
		<string>Komi-Zyrian</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>cmo</string>
		<key>Name</key>
		<string>Mnong, Central</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>koi</string>
		<key>Name</key>
		<string>Komi-Permyak</string>
	</dict>
	<dict>
		<key>Identifier</key>
		<string>ike</string>
		<key>Name</key>
		<string>Inuktitut</string>
	</dict>
</array>
</plist>
