<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tatoeba.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB2992861F3640AB00B88C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB29929A1F3640AB00B88C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2992A51F3640AB00B88C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
